.container--0- {
  position: absolute;
  left: -927px;
  top: -479px;
  width: 1834px;
  height: 938px;
  background-color: #0d1116;
  justify-content: start;
  align-items: start;
}
.container-2-3-1 {
  position: absolute;
  left: 886.2476331096708px;
  top: 373.40445162428557px;
  width: 168.03839111328125px;
  height: 169.25418090820312px;
  background-color: #384975;
  justify-content: start;
  align-items: start;
}
.container-3-4-0 {
  position: absolute;
  left: -445.94805908203125px;
  top: 169.25421142578125px;
  width: 169.25440979003906px;
  height: 1586.6708984375px;
  background-color: #ffffff;
  justify-content: start;
  align-items: start;
}
.container-4-5-0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 169.25440979003906px;
  height: 1586.6708984375px;
  justify-content: start;
  align-items: start;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container-6-7-0 {
  position: absolute;
  left: 169.2544094217009px;
  top: 891.8960644741027px;
  width: 168.03839111328125px;
  height: 169.25418090820312px;
  background-color: #9174e3;
  justify-content: start;
  align-items: start;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container-6-7-1 {
  position: absolute;
  left: 169.25440942170115px;
  top: 668.9220654506647px;
  width: 168.03839111328125px;
  height: 169.25418090820312px;
  background-color: #f5485c;
  justify-content: start;
  align-items: start;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container-6-7-2 {
  position: absolute;
  left: 169.25440942170093px;
  top: 445.9480359096487px;
  width: 168.03842163085938px;
  height: 169.25418090820312px;
  background-color: #514d43;
  justify-content: start;
  align-items: start;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container-6-7-3 {
  position: absolute;
  left: 169.25440942170096px;
  top: 222.97402162742168px;
  width: 168.0384063720703px;
  height: 169.25418090820312px;
  background-color: #58247e;
  justify-content: start;
  align-items: start;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container-6-7-4 {
  position: absolute;
  left: 169.25440979003906px;
  top: 0.000007345194717345294px;
  width: 168.0384063720703px;
  height: 169.25418090820312px;
  background-color: #ffce51;
  justify-content: start;
  align-items: start;
  border-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.container-1-2-2 {
  position: absolute;
  left: 1108px;
  top: 136px;
  width: 614px;
  height: 614px;
  justify-content: start;
  align-items: start;
}
.container-5-6-0 {
  position: absolute;
  left: 57.538719177246094px;
  top: 319.0782165527344px;
  width: 500.3748474121094px;
  height: 305.2286682128906px;
  justify-content: start;
  align-items: start;
}
.container-1-2-4 {
  position: absolute;
  left: 1158px;
  top: 431px;
  width: 512px;
  height: 319px;
  justify-content: start;
  align-items: start;
}
.text-0-1-11 {
  width: 807px;
  height: 106px;
  color: #d6d7db;
  font-size: 29px;
  font-family: Roboto, "Medium";
  font-weight: 500;
  text-align: left;
  vertical-align: top;
}